Repository wulkanowy/wulkanowy, pull requests merged in 2018-04, with the labels that each got.

#77 Migrate to ThreeTenABP
  app/build.gradle
  app/src/main/java/io/github/wulkanowy/WulkanowyApp.java
  app/src/main/java/io/github/wulkanowy/utils/TimeUtils.java
  build.gradle
Labels: app, enhancement

#79 Hide actionbar during login
  app/src/main/java/io/github/wulkanowy/ui/login/LoginActivity.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginContract.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginPresenter.java
Labels: app, ui

#74 Add setttings
  app/build.gradle
  app/src/main/java/io/github/wulkanowy/data/Repository.java
  app/src/main/java/io/github/wulkanowy/data/RepositoryContract.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPref.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefContract.java
  app/src/main/java/io/github/wulkanowy/services/SyncJob.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainActivity.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableFragment.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashActivity.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashContract.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashPresenter.java
  app/src/main/res/values-pl/prefernces_array.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/prefernces_array.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/xml/preferences.xml
Labels: app, ui

#78 Notifications improvements
  app/src/main/java/io/github/wulkanowy/services/GradeNotify.java
  app/src/main/java/io/github/wulkanowy/services/NotificationService.java
  app/src/main/java/io/github/wulkanowy/services/SyncJob.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashActivity.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashContract.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashPresenter.java
  app/src/main/res/drawable-hdpi/ic_notify_grade.png
  app/src/main/res/drawable-hdpi/ic_stat_notify.png
  app/src/main/res/drawable-mdpi/ic_notify_grade.png
  app/src/main/res/drawable-mdpi/ic_stat_notify.png
  app/src/main/res/drawable-xhdpi/ic_notify_grade.png
  app/src/main/res/drawable-xhdpi/ic_stat_notify.png
  app/src/main/res/drawable-xxhdpi/ic_notify_grade.png
  app/src/main/res/drawable-xxhdpi/ic_stat_notify.png
  app/src/main/res/drawable-xxxhdpi/ic_stat_notify.png
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: app, enhancement

#81 Update CI config
  .circleci/config.yml
  .gitlab-ci.yml
  README.md
  android-sonarqube.gradle
Labels: ci

#80 Add Fabric log exception
  app/src/main/java/io/github/wulkanowy/data/db/resources/AppResources.java
  app/src/main/java/io/github/wulkanowy/services/SyncJob.java
Labels: app, enhancement

#82 Show full subject name after expanding grades
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradeHeaderItem.java
Labels: app, ui

#85 Change message after sync completed
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableTabFragment.java
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: ui

#84 Add timetable widget
  app/src/main/AndroidManifest.xml
  app/src/main/java/io/github/wulkanowy/data/Repository.java
  app/src/main/java/io/github/wulkanowy/data/RepositoryContract.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPref.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefContract.java
  app/src/main/java/io/github/wulkanowy/di/component/ApplicationComponent.java
  app/src/main/java/io/github/wulkanowy/services/jobs/SyncJob.java
  app/src/main/java/io/github/wulkanowy/services/notifies/GradeNotify.java
  app/src/main/java/io/github/wulkanowy/services/notifies/NotificationService.java
  app/src/main/java/io/github/wulkanowy/services/widgets/TimetableWidgetServices.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainActivity.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashActivity.java
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetFactory.java
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetProvider.java
  app/src/main/java/io/github/wulkanowy/utils/TimeUtils.java
  app/src/main/res/drawable/widget_timetable_preview.png
  app/src/main/res/layout/timetable_widget.xml
  app/src/main/res/layout/timetable_widget_item.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/widget_provider.xml
  build.gradle
Labels: app, ui

#89 Fix notification intent
  app/src/main/AndroidManifest.xml
  app/src/main/java/io/github/wulkanowy/services/jobs/SyncJob.java
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetProvider.java
Labels: app, bug, hotfix

#88 Add info about predicted and final ratings
  app/src/main/java/io/github/wulkanowy/data/Repository.java
  app/src/main/java/io/github/wulkanowy/data/RepositoryContract.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPref.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefContract.java
  app/src/main/java/io/github/wulkanowy/data/sync/subjects/SubjectSync.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradeHeaderItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/java/io/github/wulkanowy/utils/AnimationUtils.java
  app/src/main/res/layout/grade_header.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: app, ui

#91 Fix grade regex
  app/src/main/java/io/github/wulkanowy/data/db/dao/entities/Grade.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradeHeaderItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesDialogFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesSubItem.java
  app/src/main/java/io/github/wulkanowy/utils/GradeUtils.java
  app/src/test/java/io/github/wulkanowy/data/db/dao/entities/GradeTest.java
  app/src/test/java/io/github/wulkanowy/utils/GradeUtilsTest.java
Labels: app, hotfix

#93 Fix the changing state of the widget during an update
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetProvider.java
Labels: app, hotfix
