Repository wulkanowy/wulkanowy, pull requests merged in 2018-05, with the labels that each got.

#94 Add semester switch in grades
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbContract.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbRepository.java
  app/src/main/java/io/github/wulkanowy/data/sync/SyncContract.java
  app/src/main/java/io/github/wulkanowy/data/sync/SyncRepository.java
  app/src/main/java/io/github/wulkanowy/services/jobs/SyncJob.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainActivity.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesPresenter.java
  app/src/main/res/drawable/ic_filter_list_black_24dp.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/semester_switch.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: app, ui, ux

#95 Update dependencies
  app/build.gradle
  build.gradle
Labels: ci

#96 Add option to hide present in attendance
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefContract.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefRepository.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: app, ui, ux

#76 [API] Add support for adfs login
  .gitignore
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/VulcanException.java
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/login/LoginTest.java
  api/src/test/java/io/github/wulkanowy/api/timetable/TimetableTest.java
  api/src/test/resources/io/github/wulkanowy/api/login/Logowanie-certyfikat.html
  api/src/test/resources/io/github/wulkanowy/api/login/cert-stock.xml
  api/src/test/resources/io/github/wulkanowy/api/timetable/PlanLekcji-full.html
Labels: api

#97 Fix animations on expand and collapse
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradeHeaderItem.java
Labels: app, ui

#98 Change description date in exam and fix styles
  api/src/main/java/io/github/wulkanowy/api/exams/ExamsWeek.java
  api/src/test/java/io/github/wulkanowy/api/exams/ExamsWeekTest.java
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbHelper.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/entities/Exam.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration26.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefRepository.java
  app/src/main/java/io/github/wulkanowy/data/sync/ExamsSync.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsDialogFragment.java
  app/src/main/java/io/github/wulkanowy/utils/DataObjectConverter.java
  app/src/main/res/layout/exams_dialog.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/xml/preferences.xml
Labels: app, ui

#99 Add about section in settings
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/io/github/wulkanowy/data/db/dao/entities/Exam.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/AboutScreen.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/java/io/github/wulkanowy/utils/AppConstant.java
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/xml/preferences.xml
  build.gradle
Labels: app

#101 Remove application backup
  app/src/main/AndroidManifest.xml
  app/src/main/res/xml/backup_rules.xml
Labels: app

#100 Mark current week
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendancePresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetablePresenter.java
  app/src/main/res/layout/current_week_tab.xml
Labels: app, ui

#102 Save current tab position in exams
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsFragment.java
Labels: app, enhancement, ux

#104 Fix parsing grade description with symbol containing special chars
  .circleci/config.yml
  api/src/main/java/io/github/wulkanowy/api/grades/GradesList.java
  api/src/test/java/io/github/wulkanowy/api/grades/GradesListTest.java
  api/src/test/resources/io/github/wulkanowy/api/grades/OcenyWszystkie-filled.html
Labels: api, bug

#105 Call of SyncJob only after user register
  app/src/main/java/io/github/wulkanowy/ui/main/MainActivity.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashActivity.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashContract.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashPresenter.java
Labels: app

#106 [API] Get rid of NULL in timetable lesson descriptions
  .circleci/config.yml
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/timetable/TimetableTest.java
  api/src/test/resources/io/github/wulkanowy/api/timetable/PlanLekcji-full.html
Labels: api, bug

#107 [API] Fix first login
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/StudentAndParent.java
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
  api/src/test/java/io/github/wulkanowy/api/login/LoginTest.java
  api/src/test/resources/io/github/wulkanowy/api/login/Logowanie-error.html
  api/src/test/resources/io/github/wulkanowy/api/login/cert-no-symbols.xml
  app/src/main/java/io/github/wulkanowy/data/db/resources/ResourcesRepository.java
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: api

#110 [API] Fix adfs login
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
Labels: api, bug

#109 [API] Fix certificate parsing issues
  api/src/main/java/io/github/wulkanowy/api/Client.java
Labels: api, bug

#108 Fix exams sync
  app/build.gradle
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbHelper.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/entities/Exam.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration27.java
Labels: app, db

#112 Delete non-existing lessons on sync
  api/src/main/java/io/github/wulkanowy/api/attendance/AttendanceTable.java
  api/src/main/java/io/github/wulkanowy/api/generic/Lesson.java
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/timetable/TimetableTest.java
  app/build.gradle
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbHelper.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/entities/Day.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/entities/TimetableLesson.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration28.java
  app/src/main/java/io/github/wulkanowy/data/sync/TimetableSync.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableSubItem.java
  app/src/main/java/io/github/wulkanowy/utils/DataObjectConverter.java
Labels: app, db, sync

#114 Remove the root check
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsTabFragment.java
  app/src/main/java/io/github/wulkanowy/utils/RootChecker.java
  app/src/main/java/io/github/wulkanowy/utils/security/Scrambler.java
Labels: app

#117 Fix ui bug on 20 level Android API and below
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/fragment_attendance_tab.xml
  app/src/main/res/layout/fragment_exams_tab.xml
  app/src/main/res/layout/fragment_grades.xml
  app/src/main/res/layout/fragment_timetable_tab.xml
Labels: app, bug, ui

#116 Add condition to exam query
  app/src/main/java/io/github/wulkanowy/data/sync/ExamsSync.java
Labels: app, db

#115 Fix api login error
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
Labels: api, bug

#118 [API] Avoid null in timetable
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/timetable/TimetableTest.java
  api/src/test/resources/io/github/wulkanowy/api/timetable/PlanLekcji-full.html
Labels: api, bug, hotfix

#119 Fix api login again
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/StudentAndParent.java
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
  api/src/test/java/io/github/wulkanowy/api/ClientTest.java
  api/src/test/java/io/github/wulkanowy/api/StudentAndParentTest.java
Labels: api, bug, hotfix

#122 Fix autofill on API level 26
  app/src/main/res/layout/activity_login.xml
Labels: app, bug

#120 Add some fabric answers
  app/src/main/java/io/github/wulkanowy/WulkanowyApp.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbContract.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbRepository.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableTabPresenter.java
  app/src/main/java/io/github/wulkanowy/utils/FabricUtils.java
  build.gradle
Labels: app

#123 Stop refreshing while semester switching window open
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesPresenter.java
Labels: app, hotfix

#124 [API] Fix lesson description
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/timetable/TimetableTest.java
  api/src/test/resources/io/github/wulkanowy/api/timetable/PlanLekcji-full.html
Labels: api, bug

#125 Fix timetable endpoint
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
Labels: api, hotfix

#126 Add mobile access API
  api/build.gradle
  api/src/main/java/io/github/wulkanowy/api/Vulcan.java
  api/src/main/java/io/github/wulkanowy/api/mobile/RegisterDevice.kt
  api/src/main/java/io/github/wulkanowy/api/mobile/RegisteredDevices.kt
  api/src/test/java/io/github/wulkanowy/api/mobile/RegisterDevice.kt
  api/src/test/java/io/github/wulkanowy/api/mobile/RegisteredDevicesListTest.kt
  api/src/test/resources/io/github/wulkanowy/api/mobile/DostepMobilny-filled.html
  api/src/test/resources/io/github/wulkanowy/api/mobile/Rejestruj.html
Labels: api

#128 Hide empty fields in summary
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradeHeaderItem.java
Labels: app, ui

#129 Expand current day on startup
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabPresenter.java
  app/src/main/java/io/github/wulkanowy/utils/TimeUtils.java
  app/src/test/java/io/github/wulkanowy/utils/TimeUtilsTest.java
Labels: app, ui
