Repository wulkanowy/wulkanowy, pull requests merged in 2018-06, with the labels that each got.

#130 Move ticks converter to api
  api/src/main/java/io/github/wulkanowy/api/DateTimeUtils.kt
  api/src/main/java/io/github/wulkanowy/api/SnP.java
  api/src/main/java/io/github/wulkanowy/api/StudentAndParent.java
  api/src/main/java/io/github/wulkanowy/api/attendance/AttendanceTable.java
  api/src/main/java/io/github/wulkanowy/api/exams/ExamsWeek.java
  api/src/main/java/io/github/wulkanowy/api/generic/Day.java
  api/src/main/java/io/github/wulkanowy/api/generic/Diary.java
  api/src/main/java/io/github/wulkanowy/api/generic/ParamItem.java
  api/src/main/java/io/github/wulkanowy/api/generic/Semester.java
  api/src/main/java/io/github/wulkanowy/api/generic/Student.java
  api/src/main/java/io/github/wulkanowy/api/grades/GradesList.java
  api/src/main/java/io/github/wulkanowy/api/notes/AchievementsList.java
  api/src/main/java/io/github/wulkanowy/api/notes/NotesList.java
  api/src/main/java/io/github/wulkanowy/api/school/SchoolInfo.java
  api/src/main/java/io/github/wulkanowy/api/school/TeachersInfo.java
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/DateTimeUtilsTest.kt
  api/src/test/java/io/github/wulkanowy/api/StudentAndParentTest.java
  api/src/test/java/io/github/wulkanowy/api/StudentAndParentTestCase.java
  api/src/test/java/io/github/wulkanowy/api/grades/GradesListTest.java
  api/src/test/java/io/github/wulkanowy/api/notes/NotesListTest.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration23.java
  app/src/main/java/io/github/wulkanowy/data/sync/AttendanceSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/ExamsSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/TimetableSync.java
  app/src/main/java/io/github/wulkanowy/utils/DataObjectConverter.java
  app/src/main/java/io/github/wulkanowy/utils/TimeUtils.java
  app/src/test/java/io/github/wulkanowy/utils/TimeUtilsTest.java
Labels: api, app

#127 Add a summary of grades
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/tab/AttendanceHeader.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/tab/AttendanceSubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/tab/AttendanceTabContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/tab/AttendanceTabFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/tab/AttendanceTabModule.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/tab/AttendanceTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/tab/ExamsHeader.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/tab/ExamsSubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/tab/ExamsTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesDialogFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesHeader.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesModule.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesSubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesSummaryHeader.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesSummarySubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableHeader.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableSubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabModule.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabPresenter.java
  app/src/main/java/io/github/wulkanowy/utils/GradeUtils.java
  app/src/main/res/drawable/ic_action_menu_semester.xml
  app/src/main/res/drawable/ic_action_menu_summary.xml
  app/src/main/res/drawable/ic_exclamation_24dp.xml
  app/src/main/res/drawable/ic_filter_list_black_24dp.xml
  app/src/main/res/layout/fragment_grades.xml
  app/src/main/res/layout/grades_dialog.xml
  app/src/main/res/layout/grades_header.xml
  app/src/main/res/layout/grades_subitem.xml
  app/src/main/res/layout/grades_summary_header.xml
  app/src/main/res/layout/grades_summary_subitem.xml
  app/src/main/res/menu/grades_action_menu.xml
  app/src/main/res/menu/semester_switch.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/io/github/wulkanowy/utils/GradeUtilsTest.java
Labels: app, ui

#131 Add logger
  api/build.gradle
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/DateTimeUtils.kt
  api/src/main/java/io/github/wulkanowy/api/StudentAndParent.java
  api/src/main/java/io/github/wulkanowy/api/Vulcan.java
  api/src/main/java/io/github/wulkanowy/api/mobile/RegisteredDevices.kt
  api/src/test/java/io/github/wulkanowy/api/StudentAndParentTest.java
  api/src/test/resources/io/github/wulkanowy/api/WitrynaUczniaIRodzica.html
  app/build.gradle
  app/src/main/java/io/github/wulkanowy/WulkanowyApp.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbHelper.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration23.java
  app/src/main/java/io/github/wulkanowy/data/db/resources/ResourcesRepository.java
  app/src/main/java/io/github/wulkanowy/data/sync/AccountSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/AttendanceSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/ExamsSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/GradeSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/SubjectSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/SyncRepository.java
  app/src/main/java/io/github/wulkanowy/data/sync/TimetableSync.java
  app/src/main/java/io/github/wulkanowy/services/jobs/SyncJob.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsFragment.java
  app/src/main/java/io/github/wulkanowy/ui/splash/SplashActivity.java
  app/src/main/java/io/github/wulkanowy/utils/FabricUtils.java
  app/src/main/java/io/github/wulkanowy/utils/LogUtils.java
  app/src/main/java/io/github/wulkanowy/utils/LoggerUtils.java
  app/src/main/java/io/github/wulkanowy/utils/async/AbstractTask.java
  app/src/main/java/io/github/wulkanowy/utils/security/Scrambler.java
  app/src/test/java/io/github/wulkanowy/data/db/dao/entities/GradeTest.java
  build.gradle
Labels: api, app

#134 Fix displaying the replacements in widget
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetFactory.java
Labels: app, ui

#135 Hide actionbar on scroll
  app/src/main/java/io/github/wulkanowy/ui/main/MainActivity.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/AboutScreen.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/xml/preferences.xml
  build.gradle
Labels: app, ui, ux

#136 API fixes
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
  api/src/main/java/io/github/wulkanowy/api/timetable/Timetable.java
  api/src/test/java/io/github/wulkanowy/api/timetable/TimetableTest.java
  api/src/test/resources/io/github/wulkanowy/api/timetable/PlanLekcji-full.html
Labels: api, hotfix

#138 Erase of user data in case incorrect data
  app/src/main/java/io/github/wulkanowy/data/Repository.java
  app/src/main/java/io/github/wulkanowy/data/RepositoryContract.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbContract.java
  app/src/main/java/io/github/wulkanowy/data/db/dao/DbRepository.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefContract.java
  app/src/main/java/io/github/wulkanowy/data/db/shared/SharedPrefRepository.java
  app/src/main/java/io/github/wulkanowy/services/jobs/SyncJob.java
Labels: app, db, sync

#137 Separate synchronization from login
  app/src/main/java/io/github/wulkanowy/ui/login/LoginActivity.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginContract.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/login/LoginTask.java
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: app, enhancement
