Repository wulkanowy/wulkanowy, pull requests merged in 2018-03, with the labels that each got.

#68 Fix circleci instrumented job
  .circleci/config.yml
Labels: ci

#69 Fix inactive elements
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceHeaderItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableHeaderItem.java
Labels: app, hotfix, ui

#70 Fix display items on refresh
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableTabPresenter.java
Labels: app, hotfix

#71 [API] Add error messages to exceptions
  api/src/main/java/io/github/wulkanowy/api/Client.java
  api/src/main/java/io/github/wulkanowy/api/NotLoggedInErrorException.java
  api/src/main/java/io/github/wulkanowy/api/StudentAndParent.java
  api/src/main/java/io/github/wulkanowy/api/Vulcan.java
  api/src/main/java/io/github/wulkanowy/api/VulcanException.java
  api/src/main/java/io/github/wulkanowy/api/VulcanOfflineException.java
  api/src/main/java/io/github/wulkanowy/api/login/AccountPermissionException.java
  api/src/main/java/io/github/wulkanowy/api/login/BadCredentialsException.java
  api/src/main/java/io/github/wulkanowy/api/login/Login.java
  api/src/main/java/io/github/wulkanowy/api/login/LoginErrorException.java
  api/src/main/java/io/github/wulkanowy/api/messages/BadRequestException.java
  api/src/main/java/io/github/wulkanowy/api/messages/Messages.java
  app/src/main/java/io/github/wulkanowy/data/db/resources/AppResources.java
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: api

#72 Fix resuming states in fragments
  api/build.gradle
  app/build.gradle
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceHeaderItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendancePresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceSubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendanceTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableHeaderItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetablePresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableSubItem.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableTabContract.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableTabFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetableTabPresenter.java
  build.gradle
Labels: app, hotfix
