Repository wulkanowy/wulkanowy, pull requests merged in 2018-07, with the labels that each got.

#142 Stop synchronization on holidays
  .circleci/config.yml
  README.md
  api/build.gradle
  app/android-sonarqube.gradle
  app/build.gradle
  app/jacoco.gradle
  app/src/main/java/io/github/wulkanowy/services/jobs/SyncJob.java
  app/src/main/java/io/github/wulkanowy/ui/main/MainPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/attendance/AttendancePresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/exams/ExamsPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/settings/SettingsFragment.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/TimetablePresenter.java
  app/src/main/java/io/github/wulkanowy/ui/main/timetable/tab/TimetableTabPresenter.java
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetFactory.java
  app/src/main/java/io/github/wulkanowy/ui/widgets/TimetableWidgetProvider.java
  app/src/main/java/io/github/wulkanowy/utils/TimeUtils.java
  app/src/main/java/io/github/wulkanowy/utils/TimeUtils.kt
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/io/github/wulkanowy/utils/TimeUtilsTest.java
  app/src/test/java/io/github/wulkanowy/utils/TimeUtilsTest.kt
  build.gradle
  jacoco.gradle
Labels: sync

#144 Update android SDK
  .circleci/config.yml
  app/android-sonarqube.gradle
  app/build.gradle
  build.gradle
Labels: app

#143 Adjust colors of grades in dark theme
  app/src/main/java/io/github/wulkanowy/utils/GradeUtils.java
  app/src/main/res/layout/grades_dialog.xml
  app/src/main/res/layout/grades_subitem.xml
  app/src/main/res/values/colors.xml
  app/src/test/java/io/github/wulkanowy/utils/GradeUtilsTest.java
Labels: app, ui, ux

#145 Add weight on grades list
  app/src/main/java/io/github/wulkanowy/ui/main/grades/GradesSubItem.java
  app/src/main/res/layout/grades_dialog.xml
  app/src/main/res/layout/grades_subitem.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values/strings.xml
Labels: app, ui, ux

#146 Fix 29 migration
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration29.kt
Labels: app, bug

#147 Refactoring password encryption
  .circleci/config.yml
  app/build.gradle
  app/src/androidTest/java/io/github/wulkanowy/utils/security/ScramblerTest.java
  app/src/androidTest/java/io/github/wulkanowy/utils/security/ScramblerTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/io/github/wulkanowy/WulkanowyApp.java
  app/src/main/java/io/github/wulkanowy/WulkanowyApp.kt
  app/src/main/java/io/github/wulkanowy/data/db/dao/migrations/Migration23.java
  app/src/main/java/io/github/wulkanowy/data/db/resources/ResourcesRepository.java
  app/src/main/java/io/github/wulkanowy/data/sync/AccountSync.java
  app/src/main/java/io/github/wulkanowy/data/sync/SyncContract.java
  app/src/main/java/io/github/wulkanowy/data/sync/SyncRepository.java
  app/src/main/java/io/github/wulkanowy/utils/security/CryptoException.java
  app/src/main/java/io/github/wulkanowy/utils/security/Scrambler.java
  app/src/main/java/io/github/wulkanowy/utils/security/Scrambler.kt
  app/src/main/java/io/github/wulkanowy/utils/security/ScramblerException.kt
Labels: app
